@use "../src/utilities" as *;
.languages {
  display: flex;
  width: 95%;
  justify-content: flex-end;
  font-size: 0.9rem;

  &__item {
    margin-left: 0.5rem;
    padding: 0.25rem;
    border: 0.2rem solid $color-dark;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      color: $color-white;
      background-color: $color-dark;
    }
  }
}
