@use "../src/utilities" as *;

.skills {
  background-color: $color-bule;
  margin: -0.5rem 0rem;
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: center;
  &__skill {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
    &.typescript {
      position: relative;
      top: 0.25rem;
    }
  }
}
