@use "../src/utilities" as *;

.skills {
  background-color: $color-blue;
  margin: -0.5rem 0rem;
  display: grid;
  align-items: center;

  @include breakpoint-up(large) {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  &__title {
    @include breakpoint-up(large) {
      width: 40%;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 5rem);
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    @include breakpoint-up(large) {
      flex: 1;
    }
  }
  &__skill {
    transition: all 0.3s ease-out;

    &__icon {
      display: inline-block;
      height: 2rem;
      width: 2rem;
      margin: 0.5rem;
    }
    &:hover {
      svg {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
    &::after {
      content: attr(data-name);
      display: block;
      position: relative;
      bottom: 2.5rem;
      color: $color-taro;
      font-size: 0.9rem;
      font-weight: 700;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }

  span[data-name="TypeScript"] {
    &:hover {
      img {
        opacity: 0;
      }
    }
  }
}

svg {
  &::after {
    content: "test";
    display: inline;
    width: 10px;
    height: 10px;
  }
}
