@use "../src/utilities" as *;
.intro {
  position: relative;
  height: 30vh;

  // video overlay
  &::before {
    content: "";
    position: absolute;
    margin: -150px 0 -5vh 0;
    inset: 0;
    background: linear-gradient($color-rice, $color-white);
    opacity: 0.7;
    z-index: -1;

    @include breakpoint-up(large) {
      margin: -150px 0 -8vh 0;
    }
  }

  // video
  video {
    height: 50vh;
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -2;
    @include breakpoint-up(large) {
      height: 52vh;
    }
  }

  &__title {
    padding-top: 0;
    font-family: $font-fam-logo;
    color: $color-black;
    @extend .font-size-300;

    @include breakpoint-down(small) {
      font-size: 2.5rem;
    }
    @include breakpoint-up(large) {
      transform: scale(1.1);
    }
  }
  &__text {
    @extend .font-size-120;
    font-family: $font-fam-text;
    @include breakpoint-up(medium) {
      font-size: 1.3rem;
    }
    @include breakpoint-up(large) {
      font-size: 1.5rem;
    }
  }
  &::after {
    z-index: -3;
  }
}
