@use "../src/utilities/" as *;

#root {
  max-width: 80rem;
  min-width: 18rem;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  text-align: center;
  font-family: $font-fam-prime;
  @extend .font-size-125;
  background-color: $color-white;
}

.container {
  padding: 3rem 1.5rem 2.5rem 1.5rem;
}

a {
  text-decoration: none;
  color: $color-dark;
}

a:hover,
a:active,
a.active {
  font-weight: 700;
}

hr {
  display: block;
  background-color: $color-dark;
  height: 0.2rem;
  border: 0;
}

h1 {
  padding: 2rem;
}

// Fontawesom
svg {
  path {
    fill: $color-dark;
  }
  @extend .font-size-200;
}
