@use "../src/utilities/" as *;

#root {
  max-width: 80rem;
  min-width: 18rem;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  text-align: center;
  font-family: $font-fam-prime;
  @extend .font-size-125;
  background-color: $color-white;
}

.container {
  padding: 3rem 1.5rem 2.5rem 1.5rem;
}

a {
  text-decoration: none;
  color: $color-dark;
}

a:hover,
a:active,
a.active {
  font-weight: 700;
}

hr {
  display: block;
  background-color: $color-dark;
  height: 0.2rem;
  border: 0;
}

h1 {
  padding: 2rem;
}

// Fontawesom
svg {
  path {
    fill: $color-dark;
  }
  @extend .font-size-200;
}

input[type="text"],
input[type="email"],
input[type="submit"],
textarea {
  width: 80%;
  margin-bottom: 1rem;
  padding: 0.35rem;
  border: 0.2rem solid $color-dark;
  background-color: $color-blue;
  &::placeholder {
    font-size: 1rem;
    opacity: 0.5;
  }
}

textarea {
  padding-top: 0.7rem;
}

input:focus,
textarea:focus {
  &::placeholder {
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
    bottom: 0.4rem;
  }
}
